.--target {
  opacity: 0;
  transition:
    all 0.7s ease-in-out 0.1s,
    transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
}

.--target.--targetPassed {
  opacity: 1;
}

.--target.--fadeup {
  transform: translateY(50px);
}

.--target.--fadeup.--targetPassed {
  transform: translateY(0);
}
