.anime__fade-target {
  opacity: 0;
  transition:
    all 0.7s ease-in-out 0.1s,
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

.anime__fade-target.anime__fade-targetPassed {
  opacity: 1;
}

.anime__fade-target.anime__fade-up {
  transform: translateY(50px);
}

.anime__fade-target.anime__fade-up.anime__fade-targetPassed {
  transform: translateY(0);
}
