---
import Layout from '@/components/layouts/Layout.astro'
import '@/features/animations/fadeIn/index.css'
---

<script>
  import { fadeInAnimation } from '@/features/animations/fadeIn/fadeInAnimation'
  fadeInAnimation()
</script>

<Layout title='about' lang='ja'>
  <h1 class='text-[30px] font-bold --target'>About</h1>
  <h1 class='text'>About</h1>
</Layout>

<style>
  .text {
    font-size: 2rem;
  }
</style>
