---
import LayoutDefault from '@/components/layouts/LayoutDefault.astro'
import { PAGE } from '@/utils/constant'
---

<LayoutDefault html={{ title: PAGE.about.title }}>
  <p>about</p>
</LayoutDefault>
