---
import LayoutDefault from '@/components/layouts/LayoutDefault.astro'
import { PAGE } from '@/utils/constant'
---

<LayoutDefault title={PAGE.about.title} description={''}>
  <p>about</p>
</LayoutDefault>
