---
import LayoutDefault from '@/components/layouts/LayoutDefault.astro'
import { PAGE } from '@/utils/constant'
---

<LayoutDefault title={PAGE.about.title} description={PAGE.about.description}>
  <div class='anime__fade-target anime__fade-up'>フェードアップしない</div>
  <p>about</p>
</LayoutDefault>
