---
interface Props {
  title: string
  lang?: 'ja' | 'en'
}
const { lang = 'ja', title } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <slot name='meta'>
      <title>{title}</title>
    </slot>
  </head>
  <body>
    <slot />
  </body>
</html>
