---
import LayoutDefault from '@/components/layouts/LayoutDefault.astro'
import { PAGE } from '@/utils/constant'
---

<LayoutDefault title={PAGE.top.title} description={''}>
  <div class='min-h-screen'>
    <p>{PAGE.top.title}</p>
  </div>
</LayoutDefault>
